*{
   box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 24px;

}

a{
    text-decoration: none;
    color:inherit;
}


.header{
    background-image: url(../images/Group\ 2264.jpg);
min-height: 793px;
background-repeat: no-repeat;
background-size: cover;
background-position: top center;
}
.container {
   max-width:1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;

}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu__list{
    display: flex;

}

.menu__list li + li{
    margin-left: 50px;

}

.login{
    margin-right: 44px;
}
.menu__list a{
    opacity: 0.5;
    font-weight: 600;
    color: #FFFFFF;
    transition: all .5s;
}

.menu__list a:hover{
    opacity: 1;
}

.login{
   
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
}



.sign_up{
    font-weight: 600;
    text-transform: uppercase;
    color: #250F8A;
    padding:  8px 44.38px 8px 44.38px;
    background: #FFFFFF;
border-radius: 20px;
}

.header_slider {
    margin-top: 111px;
}
.header_slider_item {

}
.header_slider_item_content {
    display: flex;
    justify-content: space-between;
}
.header_slider_item_info {
    max-width: 506px;
}
.header_slider_title {
    font-weight: bold;
font-size: 45px;
line-height: 60px;
color: #FFFFFF;
margin-bottom: 10px;
}
.header_slider_description {
    font-weight: normal;
font-size: 24px;
line-height: 55px;
color: #FFFFFF;
margin-bottom: 60px;
}
.header_slider_btn {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #250F8A;
    padding: 13px 39px;
    background: #FFCA00;
    border-radius: 25px;
    text-transform: uppercase;

}
.header_sleder_item_images {
    margin: 10px 82px 0 0;
}


.header_dots{
    list-style: none;
    position:absolute;
    right:0;
    top:10%;

}
.header_dots button {
    border: none;
    opacity:0.5;
    background-color: #fff;
    font-size: 0;
    padding: 0;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    cursor: pointer;
    outline: none;
    margin: 10px auto;
    display: block;
    
}

.header_dots .slick-active button{
    width: 15px;
    opacity: 1;
}


.specialised {
    padding: 55px 0 93px;
    background-image: url(../images/Style.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #202020;
    text-align: center;
}

.specialised_title {
    margin-bottom: 90px;

}
.title {
    font-weight: bold;
font-size: 35px;
line-height: 45px;
text-align: center;

}
.spisialised_items {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}
.specialid_item {
    width: 280px;
}
.specialised_item_img {
    margin-bottom: 23px;
    min-height: 159px;

}
.specialised_item_title {
    margin-bottom: 11px;
    font-weight: bold;
font-size: 20px;
line-height: 24px;
text-align: center;

}
.specialised_item_description {
    font-size: 15px;
line-height: 24px;
opacity: 0.7;
color: #272727;
 padding: 0 10px;
}



.advantages {
    
   
    padding-top: 64px;
    background: #F4F9FD;
    background-image: url(../images/advbg.svg);
     background-position: right center;
    background-repeat: no-repeat;
}

.adventages_box {
    /* margin-top: 111px; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 76px;
    /* max-width: 980px;
    margin: 0 auto; */
}

.adventages_box_right .adventages_box_info{
order: 1;

}
.adventages_box_info {
    padding-top: 60px;
    max-width: 455px;
    background-image: url(../images/clouds.svg);
    background-position: 47px 83px;
        background-repeat: no-repeat;
}
.advantages_box_title {
    font-weight: bold;
font-size: 35px;
line-height: 45px;
color: #202020;
padding-top: 68px;
padding-bottom: 15px;
padding-left: 48px;

   
}
.advantages_box_description {
    font-weight: normal;
font-size: 15px;
line-height: 24px;
color: #272727;
padding-top: 40px;

padding-left: 48px;
    

}
.advantages_box_images {
}





.reviews {
    background-image: url(../images/bg_reviews.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 519px;
}

.reviews_title {
    padding-top: 38px;
        font-weight: bold;
font-size: 35px;
line-height: 45px;
max-width: 383px;
color: #FFFFFF;
text-align: center;
margin-bottom: 48px;
align-items: center;
margin:0 auto;
padding-bottom: 48px;


}
.reviews_items {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
}
.reviews_item {
    background-image: url(../images/Bg_item.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    /* height: 261px; */
    border-radius: 5px;
}
.reviews_item_info {
    display: flex;
    justify-content: space-around;
    padding: 35px 20px;

}
.reviews_item_info_log {

}
.reviews_item_info_description {
}
.reviews_item_info_description_name {
    font-weight: 600;
font-size: 15px;
line-height: 24px;
color: #FFFFFF;

}
.reviews_item_info_description_company {
    font-weight: normal;
font-size: 15px;
line-height: 24px;
mix-blend-mode: normal;
opacity: 0.5;
color: #FFFFFF;
}
.reviews_item_title {
    font-weight: bold;
font-size: 40px;
line-height: 55px;
color: #FFFFFF;
text-align: center;
margin-top: -25px;
margin-bottom: -45px;
}
.reviews_item_description {
    font-weight: normal;
font-size: 15px;
line-height: 24px;
color: #FFFFFF;
text-align: center;
padding: 35px 20px;
}


.footer {
    background: #FFFFFF;
    min-height: 61px;
   
    
}
.container {
}
.footer_inner {
    display: flex;
    justify-content: space-between;
    margin: o auto;
}
.footer_link {
    display: flex;
    justify-content: space-between;
    width: 358px;
    font-weight: normal;
font-size: 15px;
line-height: 24px;
    padding: 20px 0 17px 0;
    color: #272727;
}
.footer_copy {
    font-size: 15px;
line-height: 24px;
    padding: 20px 0 17px 0;
}
@media(max-width:1620px){
    .advantages{
        background-size: 60px;
    }
}
@media(max-width:1240px){
    .advantages{
        background-image: none;
    }
}

@media(max-width:1201px){
    .specialised{
        background-size: 60px;
    }
}

@media(max-width:1150px){
    .header_sleder_item_images {
        margin: 50px 17px 0 0;
    }
     .header_sleder_item_images img {
       width: 80%;
    }
    .header_slider_item_info{
     padding: 50px 0; 
    
    }
    .header_slider {
        padding-top: 25px;
    }
}


@media(max-width:1080px){
    .specialised{
        background-image: none;
    }
    .reviews_items{
        flex-wrap: wrap;
    }
    .reviews_item{
        margin-bottom: 25px;
        width: 48%
    }
}



@media(max-width:900px){
    .header__top{
        flex-wrap: wrap;
    }
    .header_btn{
      width: 100%;
      text-align: right;  
    }
    .login{
        margin-right: 30px;
    }

}

@media(max-width:890px){
    .header_sleder_item_images {
       display: none
    }
}

@media(max-width:850px){
    .adventages_box{
        display: flex;
        flex-direction: column;
      align-items: center;
    }

    .adventages_box{
  /* //      display: block; */
text-align: center; 
justify-content: center;   }
.advantages_box_description{
    margin: 0 auto;
}

/* .adventages_box_info {
   text-align: center;
    width: 100%;
    align-items: center;
    
} */
.adventages_box_right .adventages_box_info{
    order: 0;
}
}
@media(max-width:775px){
    .specialised{
        padding: 20px 0 40px
    }
    .specialised_title {
        margin-bottom: 30px;
    }
    .spisialised_items {
        flex-wrap: wrap;
    }
    .specialid_item {
       width: 80%;
    }
}
@media(max-width:686px){
    .reviews_items{
        display: block;
    }
    .reviews_item{
        width: 100%;
    }
    .reviews{
        padding: 30px 0;
    }
    .footer_inner{
        flex-wrap: wrap;
       
       
    }
    .footer_link{
        margin: 0 auto;
    }
    .footer_copy{
        margin: 0 auto;

    }
}

@media (max-width:570px){
.advantages_box_images img{
 /* display: none; */
 width:70%
}

.advantages_box_title {
   
font-size: 25px;
line-height: 35px;

padding-top: 18px;
padding-bottom: 10px;


   
}

.advantages_box_description{
    font-size: 12px;
line-height: 18px;
/* color: #272727; */
padding-top: 10px;
}

    .spisialised_items {
    display: block;
    }
    .specialid_item {
       width: 100%;
    }



    .header_slider_item_info{
        padding: 10px 30px 10px 0; 
       
       }
       .header{
           min-height: 600px;
       }
       .header_slider_description{
        font-size: 20px;
        line-height: 35px;
       }
       .header_slider_title {
        font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 10px;
    }


    .menu__list{
        display: none;
        position: absolute;
        top:120px;
        left: 0;
        text-align: center;
        width: 100%;
        background-color:#250F8A;
        z-index: 5;
    }
    .menu__list li + li{
        margin-left: 0;
    
        padding: 10px 0;
    }
    .menu__list a{
        display: block;

    }

    .menu_btn{
        width: 30px;
        height: 20px;
        position: relative;
       overflow: hidden;
    }
.menu_btn span{
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    top:9px;
    position: absolute;
}

    .menu_btn::after,
    .menu_btn::before{
        content: "";
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
        position: absolute;
    }
    .menu_btn::after{
        top:0
    }
    .menu_btn::before{
        bottom: 0;
    }
}


/* @media (max-width:350px){
    
} */

@media(min-width:570px){
    .menu__list {
        display: flex !important;

    }
}




